* { padding: 0; margin: 0; border: 0; }


/*Flex Framework*/
.main_flex {
    display:flex;
    display:-webkit-flex;
    -webkit-flex-flow:row wrap;
    flex-flow:row wrap;
}

.main_flex__nowrap{
    display:flex;
    display:-webkit-flex;
    -webkit-flex-flow:row nowrap;
    flex-flow:row nowrap;
}

.flex__auto {
    flex:auto;
    -webkit-flex:auto;
    -ms-flex:auto;
}

.flex__jcontent_between {
    justify-content:space-between;
    -webkit-justify-content:space-between;
}

.flex__jcontent_start{
    justify-content:flex-start;
    -webkit-justify-content:flex-start;
}

.flex__jcontent_end{
    justify-content:flex-end;
    -webkit-justify-content:flex-end;
}

.flex__jcontent_center{
    justify-content:center;
    -webkit-justify-content:center;
}

.flex__jcontent_around{
    justify-content:space-around;
    -webkit-justify-content:space-around;
}


.flex__align-items_start{
    align-items:flex-start;
    -webkit-align-items:flex-start;
}

.flex__align-items_end{
    align-items:flex-end;
    -webkit-align-items:flex-end;
}

.flex__align-items_baseline{
    align-items:baseline;
    -webkit-align-items:baseline;
}

.flex__align-items_stretch{
    align-items:stretch;
    -webkit-align-items:stretch;
}

.flex__align-items_center{
    align-items:center;
    -webkit-align-items:center;
}

.flex__align-content_flex-start{
    align-content:flex-start;
    -webkit-align-content:flex-start;
}

.flex__align-content_flex-end{
    align-content:flex-end;
    -webkit-align-content:flex-end;
}

.flex__align-content_space-between{
    align-content:space-between;
    -webkit-align-content:space-between;
}

.flex__align-content_center{
    align-content:center;
    -webkit-align-content:center;
}

.flex__align-content_space-around{
    align-content:space-around;
    -webkit-align-content:space-around;
}

.flex__align-content_stretch{
    align-content:stretch;
    -webkit-align-content:stretch;
}

.flex__flex-grow_01{
    flex-grow:1;
    -webkit-flex-grow:1;
}

.flex__flex-grow_02{
    flex-grow:2;
    -webkit-flex-grow:2;
}

.flex__flex-grow_03{
    flex-grow:3;
    -webkit-flex-grow:3;
}

.flex__flex-grow_04{
    flex-grow:4;
    -webkit-flex-grow:4;
}

body {
    background-color: #ffffff;
    font-family: HelveticaBold, Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
}

a {
    color: #dd3e18;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.b-page__header {
    width: 100%;
    background-color: #082841;
}


.b-header__photo {

    background-image: url("../images/photo.jpg");
    background-size: cover;
    flex: 1.6;
    width: 50vw;
    /*height: 50vw;*/
}

.b-header__info {
    padding-left: 4vw;
    padding-top: 2vw;
    flex: 2;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.b-header__info-top {
    margin-bottom: 2vw;
    flex: 0.5;
    font-size: 26px;
}

.b-header__info-name {
    margin-bottom: 10vw;
    font-size: 36px;
}

.b-header__info-bottom {
    font-family: Helvetica, sans-serif;
    flex: 1;
    width: 44vw;
    font-size: 18px;
    margin-bottom: 5vw;
}

.b-page {
    box-sizing: border-box;
    margin: 0 auto;
    width: 65vw;
    display: flex;
    flex-direction: column;
}

.b-name {
    margin: 5vw 0 2vw;
    font-size: 26px;
}

.b-expectation-top, .b-expectation-bottom {
    width: 65vw;
    display: flex;
}

.b-expectation-top__one {
    flex: 3;
    width: 32vw;
    min-height: 14vw;
    background-color: #e6f0ee;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

.b-expectation-top__two {
    width: 16vw;
    min-height: 14vw;
    flex: 1;
    background-color: #e6f0ee;
    margin-bottom: 1vw;
}

.b-expectation-bottom__one {
    width: 16vw;
    min-height: 14vw;
    flex: 1;
    background-color: #e6f0ee;
    margin-right: 1vw;

}

.b-expectation-bottom__two {
    flex: 3;
    width: 32vw;
    min-height: 14vw;
    background-color: #e6f0ee;
}

.block-name {
    font-size: 20px;
    flex: 1;
}

.block_ref {
    flex: 5;
}

.block_text {
    font-size: 16px;
    flex: 1;
}

.offset {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1vw 2vw 1vw 1vw;
    /*margin: 0;*/
}

.b-page__work {
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.offset-work {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}

.offset-work__2 {
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
}

.work-1, .work-2, .work-3{
    margin-bottom: 5vw;
}

.b-page__footer {
    width: 100%;
    margin-top: 2vw;
    background-color: #e6f0ed;
    min-height: 35vw;
}

.offset-footer {
    box-sizing: border-box;
    padding-top: 5vw;
    margin: 0 17vw;
}

.footer-name {
    font-size: 40px;
    margin-bottom: 3vw;
}

.info-form {
    flex: 2;
}

.footer-info {
    flex: 1.5;
}

.form-input {
    margin-bottom: 1vw;
    width: 37vw;
    height: 2vw;
    box-sizing: border-box;
    padding-left: 1vw;
    font-size: 16px;
}

.form-input_message {
    width: 37vw;
    height: 9vw;
    box-sizing: border-box;
    padding-left: 1vw;
    margin-bottom: 1vw;
    font-size: 16px;
    padding-bottom: 6vw;
}

.form-btn {
    cursor: pointer;
    margin-top: 1vw;
    color: #ffffff;
    background-color: #dd3e18;
    width: 37vw;
    height: 2.5vw;
    font-size: 16px;
}

.form-input_message {
    box-sizing: border-box;
    padding-top: -20vw;
}

.contact-icon {
    position: relative;
    display: block;
    flex-direction: column;
    margin-top: 1vw;
}

.contact-icon_position {
    cursor: pointer;
    background-size: cover;
    width: 30px;
    height: 30px;
}


.info-text {
    width: 20vw;
    margin-bottom: 1vw;
    font-size: 16px;
}

.contact-name {
    font-size: 16px;
}

.icon-text {
    position: absolute;
    min-width: 150px;
    color: #dd3e18;
}

.socials {
    margin-left: 70px;
    position: absolute;
    display: flex;
}

.block_text-description{
    font-size: 16px;
}

.offset-footer__position {
    display: flex;
    flex-direction: row;
}

.media-width {
    border: 1px solid #e6f0ed;
    background-size: cover;
    min-width: 32vw;
    min-height: 22vw;
}

.form-tz {
    color: #dd3e18;
    text-decoration: none;
}

#facebook, #git, #vk {
    margin-bottom: -7px;
    margin-right: 10px;
}


#facebook:hover, #git:hover, #vk:hover {

}